.side-menu {
  background: orange;
  width: 0;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  transition: 0.8s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-direction: column;*/
}

.active {
  width: 100vw;
}

.field {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submit-btn {
  align-self: center;
}
