/*.cold{
  font-size: 2.5rem;
  height: 300px;
  width: 100%;
  background:blue;
}

.hot{
  font-size: 2.5rem;
  height: 300px;
  width: 100%;
  background:red;
}*/
html{
  scroll-behavior: smooth;
}
.weather-scene{
  background-color: royalblue;
  width: 100%;
  height: 20rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

body {
  margin: 0;
}

