html {
  scroll-behavior: smooth;
}
.weather-info {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
  color:black;
}
.weather-info div {
  margin: 0 3rem;
}

.weather-info-middle p {
text-align: center;
}
.city-name {
  font-size: 2rem;
}
.current-temp {
  font-size: 3rem;
}
.sunrise-time {
align-self: flex-end;
}
.sunset-time {
  align-self: flex-end;
}
.weather-scene {
  background-color: royalblue;
  width: 100%;
  height: 20rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

body {
  margin: 0;
}

.weather-section {
width: 70%;
}

.main-section {
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 2;
}

