html{
  scroll-behavior: smooth;
}
.weather-info{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
  color:black;
}
.weather-info div{
  margin: 0 3rem;
}
.weather-scene{
  background-color: royalblue;
  width: 100%;
  height: 20rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

body {
  margin: 0;
}

