
.forecast-heading{
  margin-top: 1.5rem;
  text-align: center;
  font-size: 2rem;
  color:black;
}
.forecastTile {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  color: black;
  font-weight: 700;
  /*background-color: rgba(0,0,0,0.6);*/
  /*border: 0.1rem black solid;*/
  margin: 0 auto 1rem auto;
  padding: 1rem;
}

.subTile {
  width: 80%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-weight: 700;
  /*background-color: rgba(255,255,255,0.6);*/
  /*border: 0.1rem black solid;*/
  margin: 1rem .3rem;
  padding: 1rem;
}

.subTile p {
  text-align: center;
}
.overcast-icon{
  color: black;
}
.sunny-icon{
  color: black;
}
.rain-icon{
  color: black;
}
.snow-icon{
  color: black;
}
.clouds-icon{
  color: black;
}
.thunder-icon{
  color: black;
}

