
.forecast-heading{
  margin-top: 1.5rem;
  text-align: center;
  font-size: 2rem;
  color:black;
}
.forecastTile {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  color: black;
  font-weight: 700;
  background-color: lightseagreen;
  border: 0.1rem black solid;
  margin: 0 auto 1rem auto;
  padding: 1rem;
}

.subTile {
  width: 80%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-weight: 700;
  background-color: seagreen;
  border: 0.1rem black solid;
  margin: 1rem .3rem;
  padding: 1rem;
}

.subTile p {
  text-align: center;
}
.overcast-icon{

}
.sunny-icon{
  color:yellow;
}
.rain-icon{
  color:blue;
}
.snow-icon{
  color:white;
}
.clouds-icon{
  color:darkgray;
}
.thunder-icon{
  color:yellow;
}

